html,
body {
  font-family: "Chillax", sans-serif;
  box-sizing: border-box;
}

.google-button {
  border-radius: 50em;
  border: none;
  background: rgb(42, 42, 42);

  transition: all 1s;
  /* padding-top: 1em;
  padding-bottom: 0.7em; */
  padding: 0.9em 0.9em;
  cursor: pointer;
}

.google-button:hover {
  background: rgb(70, 70, 70);
  padding: 0.9em 5em;
}

.google-button:active {
  background: rgb(208, 208, 208);
}

.google-button.rotate {
  transform: rotateY(180deg) rotateX(180deg);
}

.google-button img {
  pointer-events: none;
  width: 87px;
}
